.footer { 
    background-color: #4a115ace;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .link{
    display: flex;
    flex-direction:row;
   justify-content:space-around ;
    font-size: 30px;
    color: white;
    padding: 20px;
  }  
  .link {
    /* text-decoration: none; */
  }
  
  .icon {
    color: #ffffff; /* Default color of the icon */
    transition: all 0.3s; /* Smooth transition for effects */
  
    /* Add a box shadow for the icon (you can adjust these values) */
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); /* Initial shadow (you can modify this) */
  }
  
  .icon:hover {
    color: #00000063; /* Change color on hover to make it appear brighter */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); /* Brighten the shadow on hover */
  }
  
 
  .footer-quick-links li{
    list-style: none;
  }
  .footer-quick-links a{
    text-decoration: none;
    color: white;
  }
  .quick-links ul {
    color: purple;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .quick-links li {
    display: inline;
    margin-right: 15px;
  }
  
  .quick-links a {
    color: #fff;
    text-decoration: none;
    list-style: none;

    font-size: 1rem;
  }
  /* .footer-social-icons Link{
    padding: 20px;
  } */
  link{
    padding: 20px;

  }
  .social-media-icons {
    flex: 1;
    text-align: right;
  }
/*   
  .social-media-icons i {
    font-size: 1.5rem;
    margin-left: 15px;
    color: #fff;
  }
   */
  .copyright {
    text-align: center;
    padding: 20px 0;
    background-color: #22222298;
  }
  
  .copyright p {
    font-size: 1rem;
  }
  